body {
  background-color: #000;
  margin: 0;
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  width: 70%;
  font-size: 18px;
  color: #e5e7eb;
}

header {
  background-color: #1f2937;
  height: 30rem;
  padding: 1rem 10rem;
  margin: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.logo img {
  height: 100px;
  width: 100px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  color: #e5e7eb;
}

.menu a:hover {
  text-decoration: underline;
}

.header-info {
  display: flex;
  height: 20rem;
}

.header-info div {
  flex: 1;
}

.header-info h1 {
  font-size: 28px;
  font-weight: 900;
  color: #f9faf8;
}

.header-info input {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #3882f6;
  font-weight: 500;
  color: #e5e7eb;
  font-size: 18px;
}

.image-banner img {
  height: 17rem;
  width: 100%;
}

.content-wrapper {
  background-color: #fff;
  padding: 1rem 10rem;
  margin: 0;
  color: #000;
}

.content-wrapper h2 {
  font-size: 28px;
  text-align: center;
}

.tiles {
  display: flex;
  justify-content: center;
}

.tiles div {
  text-align: center;
  width: 200px;
  padding: 5px 10px;
}

.tiles img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.page-quote {
  background-color: #e5e7eb;
  padding: 1rem 18rem;
  margin: 0;
  font-style: italic;
  font-size: 28px;
}

.page-quote P {
  color: #1f2937;
  text-align: justify;
}
.page-quote h3 {
  text-align: right;
  color: #000;
  font-style: normal;
}

.page-signup {
  background-color: #fff;
  padding: 5rem 10rem;
  margin: 0;
}

.signup {
  background-color: #3882f6;
  color: #fff;
  display: flex;
  border-radius: 15px;
  padding: 2rem 5rem;
  justify-content: space-between;
}

.button {
  margin: auto;
}

.button input {
  border-radius: 10px;
  padding: 10px 30px;
  border-color: #fff;
  background-color: #3882f6;
  font-weight: 500;
  color: #e5e7eb;
  font-size: 18px;
}

.page-footer {
  background-color: #1f2937;
  padding: 2rem 5rem;
  margin: auto;
}

.page-footer p {
  text-align: center;
}
