body {
  background-color: #000;
  margin: 0;
}

main {
  margin: auto;
  width: 70%;
  padding: 0;
}

header {
  background-color: #1f2937;
  height: 30rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
